path/to/large/file filter=lfs diff=lfs merge=lfs -text
"quiz-app-backend/target/debug/deps/quiz_app_backend-*" filter=lfs diff=lfs merge=lfs -text
"quiz-app-frontend/node_modules/.cache/default-development/*.pack" filter=lfs diff=lfs merge=lfs -text
